In [3]:
import pandas as pd
df=pd.read_csv("raw_data/crop_data.csv")

In [5]:
df.head()

,STATE,SOIL_TYPE,N_SOIL,P_SOIL,K_SOIL,TEMPERATURE,HUMIDITY,ph,RAINFALL,CROP_PRICE,CROP
0,Andaman and Nicobar,Sandy soil,90,42,43,20.879744,82.002744,6.502985,202.935536,7000,Amaranthus
1,Andaman and Nicobar,Sandy soil,85,58,41,21.770462,80.319644,7.038096,226.655537,5000,Green Banana
2,Andaman and Nicobar,Sandy soil,60,55,44,23.004459,82.320763,7.840207,263.964248,7000,Ladies Finger
3,Andaman and Nicobar,Sandy soil,74,35,40,26.491096,80.158363,6.980401,242.864034,7000,Bitter Gourd
4,Andaman and Nicobar,Sandy soil,78,42,42,20.130175,81.604873,7.628473,262.717340,120000,Black pepper

In [6]:
remove_list = [
    "Maida Atta","Wheat Atta","Moong Dal","Chana Dal","Masur Dal",
    "Tur Dal","Urd Dal","Moath Dal","Mustard Oil","Coconut Oil",
    "Gingelly Oil","Ghee","Sugar","Jaggery","Broken Rice",
    "Ground Nut Seed","Corriander seed","Coconut Seed",
    "Niger Seed","Castor Seed","Fish","Wood","Copra"
]

In [14]:
clean_df=df[~df["CROP"].isin(remove_list)]

In [21]:
clean_df["CROP"]=clean_df["CROP"].replace('Cluster beans', 'Cluster Beans')

C:\Users\Someshwar Kumbar\AppData\Local\Temp\ipykernel_12748\3981014488.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df["CROP"]=clean_df["CROP"].replace('Cluster beans', 'Cluster Beans')

In [28]:
 if "Cluster beans" in clean_df["CROP"].unique():
     print("yess")

In [30]:
clean_df['CROP'] = clean_df['CROP'].str.title()

C:\Users\Someshwar Kumbar\AppData\Local\Temp\ipykernel_12748\2552627580.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['CROP'] = clean_df['CROP'].str.title()

In [34]:
clean_df["CROP"].unique()

array(['Amaranthus', 'Green Banana', 'Ladies Finger', 'Bitter Gourd',
       'Black Pepper', 'Bottle Gourd', 'Brinjal', 'Cabbage', 'Carrot',
       'Cauliflower', 'Cluster Beans', 'Coconut', 'Colacasia', 'Onion',
       'Potato', 'Tomato', 'Bengal Gram', 'Jowar', 'Paddy', 'Lentil',
       'Rice', 'Cucumber', 'Field Pea', 'French Beans', 'Green Chilli',
       'Knool Khol', 'Pumpkin', 'Raddish', 'Black Gram', 'Green Gram',
       'Jute', 'Mustard', 'Garlic', 'Ridge Gourd', 'Arecanut', 'Red Gram',
       'Maize', 'Dry Chillies', 'Groundnut', 'Capsicum', 'Guar', 'Lemon',
       'Bajra', 'Coriander', 'Cowpea', 'Drumstick', 'Elephat Yam',
       'Ginger', 'Seam', 'Methi Leaves', 'Green Onion', 'Peas Cod',
       'Pigeon Pea', 'Sponge Gourd', 'Surat Beans', 'Sweet Potato',
       'Tinda', 'Cotton', 'Wheat', 'Chholia', 'Little Gourd',
       'Round Gourd', 'Leafy Vegetable', 'Mint', 'Papaya', 'Spinach',
       'Parval', 'Banana', 'Zizyphus', 'Grapes', 'Kinnow', 'Peas',
       'Apple', 'Orange', 'Pomegranate', 'Sapota', 'Mushrooms',
       'Sweet Lime', 'Pineapple', 'Guava', 'Turnip', 'Squash', 'Beans',
       'Beetroot', 'Chilly Capsicum', 'Green Avare', 'Seemebadnekai',
       'Snakeguard', 'Suvarna Gadde', 'Water Melon', 'Amphophalus',
       'Ash Gourd', 'Rubber', 'Cashewnuts', 'Pepper Garbled',
       'Long Melon', 'Tapioca', 'Turmeric', 'Mango', 'Amla',
       'Duster Beans', 'Soyabean', 'Linseed', 'Lime', 'Musk Melon',
       'Pear', 'Rajgir', 'Sweet Pumpkin', 'Tender Coconut',
       'Betal Leaves', 'Sesamum', 'Taramira', 'Tobacco', 'Tamarind Fruit',
       'Horse Gram', 'Ragi', 'Cumbu', 'Varagu', 'Hybrid Cumbu',
       'Karamani', 'Thinai', 'Barley', 'Green Peas', 'White Pumpkin',
       'Plum'], dtype=object)

In [35]:
df=clean_df

In [42]:
df["CROP"].value_counts()

CROP
Potato           109
Paddy            100
Tomato           100
Onion             96
Brinjal           96
                ...
Parval             1
Long Melon         1
Rubber             1
Suvarna Gadde      1
Plum               1
Name: count, Length: 125, dtype: int64

In [43]:
df.drop(["STATE","])

,STATE,SOIL_TYPE,N_SOIL,P_SOIL,K_SOIL,TEMPERATURE,HUMIDITY,ph,RAINFALL,CROP_PRICE,CROP
0,Andaman and Nicobar,Sandy soil,90,42,43,20.879744,82.002744,6.502985,202.935536,7000,Amaranthus
1,Andaman and Nicobar,Sandy soil,85,58,41,21.770462,80.319644,7.038096,226.655537,5000,Green Banana
2,Andaman and Nicobar,Sandy soil,60,55,44,23.004459,82.320763,7.840207,263.964248,7000,Ladies Finger
3,Andaman and Nicobar,Sandy soil,74,35,40,26.491096,80.158363,6.980401,242.864034,7000,Bitter Gourd
4,Andaman and Nicobar,Sandy soil,78,42,42,20.130175,81.604873,7.628473,262.717340,120000,Black Pepper
...,...,...,...,...,...,...,...,...,...,...,...
2195,West Bengal,Alluvial soil,107,34,32,26.774637,66.413269,6.780064,177.774507,1000,Onion
2196,West Bengal,Alluvial soil,99,15,27,27.417112,56.636362,6.086922,127.924610,800,Papaya
2197,West Bengal,Alluvial soil,118,33,30,24.131797,67.225123,6.362608,173.322839,560,Potato
2198,West Bengal,Alluvial soil,117,32,34,26.272418,52.127394,6.758793,127.175293,1500,Pumpkin
2199,West Bengal,Alluvial soil,104,18,30,23.603016,60.396475,6.779833,140.937041,1400,Tomato