In [2]:
import pandas as pd
df=pd.read_csv("raw_data/Crop Recommendation using Soil Properties and Weather Prediction.csv")

In [3]:
df.head()

,Soilcolor,Ph,K,P,N,Zn,S,QV2M-W,QV2M-Sp,QV2M-Su,...,PRECTOTCORR-W,PRECTOTCORR-Sp,PRECTOTCORR-Su,PRECTOTCORR-Au,WD10M,GWETTOP,CLOUD_AMT,WS2M_RANGE,PS,label
0,Yellowish brown,5.81,738.231,5.401,0.23,2.976000,13.816,7.993333,10.456667,11.963333,...,2.073333,5.27,12.303333,5.27,3.44,0.73,56.57,6.24,77.03,Barley
1,Yellowish brown,5.43,606.382,10.478,0.23,3.077000,16.421,7.993333,10.456667,11.963333,...,2.073333,5.27,12.303333,5.27,3.44,0.73,56.57,6.24,77.03,Barley
2,brown,5.41,386.580,6.847,0.23,6.611000,16.557,7.993333,10.456667,11.963333,...,2.073333,5.27,12.303333,5.27,3.44,0.73,56.57,6.24,77.03,Barley
3,red,5.65,207.086,3.418,0.23,0.460181,16.075,7.993333,10.456667,11.963333,...,2.073333,5.27,12.303333,5.27,3.44,0.73,56.57,6.24,77.03,Barley
4,red,5.27,317.357,39.282,0.23,2.743000,12.558,7.993333,10.456667,11.963333,...,2.073333,5.27,12.303333,5.27,3.44,0.73,56.57,6.24,77.03,Barley

In [4]:
df2=pd.read_csv("raw_data/crop_data.csv")

In [5]:
df2.head()

,STATE,SOIL_TYPE,N_SOIL,P_SOIL,K_SOIL,TEMPERATURE,HUMIDITY,ph,RAINFALL,CROP_PRICE,CROP
0,Andaman and Nicobar,Sandy soil,90,42,43,20.879744,82.002744,6.502985,202.935536,7000,Amaranthus
1,Andaman and Nicobar,Sandy soil,85,58,41,21.770462,80.319644,7.038096,226.655537,5000,Green Banana
2,Andaman and Nicobar,Sandy soil,60,55,44,23.004459,82.320763,7.840207,263.964248,7000,Ladies Finger
3,Andaman and Nicobar,Sandy soil,74,35,40,26.491096,80.158363,6.980401,242.864034,7000,Bitter Gourd
4,Andaman and Nicobar,Sandy soil,78,42,42,20.130175,81.604873,7.628473,262.717340,120000,Black pepper

In [6]:
df3=pd.read_csv("raw_data/Crop_recommendation.csv")

In [7]:
df3

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [8]:
df.columns

Index(['Soilcolor', 'Ph', 'K', 'P', 'N', 'Zn', 'S', 'QV2M-W', 'QV2M-Sp',
       'QV2M-Su', 'QV2M-Au', 'T2M_MAX-W', 'T2M_MAX-Sp', 'T2M_MAX-Su',
       'T2M_MAX-Au', 'T2M_MIN-W', 'T2M_MIN-Sp', 'T2M_MIN-Su', 'T2M_MIN-Au',
       'PRECTOTCORR-W', 'PRECTOTCORR-Sp', 'PRECTOTCORR-Su', 'PRECTOTCORR-Au',
       'WD10M', 'GWETTOP', 'CLOUD_AMT', 'WS2M_RANGE', 'PS', 'label'],
      dtype='object')

In [9]:
df2.columns

Index(['STATE', 'SOIL_TYPE', 'N_SOIL', 'P_SOIL', 'K_SOIL', 'TEMPERATURE',
       'HUMIDITY', 'ph', 'RAINFALL', 'CROP_PRICE', 'CROP'],
      dtype='object')

In [10]:
df3.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [11]:
## lets concat df2 and df3
set_lables=df2.drop(["STATE","SOIL_TYPE","CROP_PRICE"],axis=1)

In [12]:
set_lables

,N_SOIL,P_SOIL,K_SOIL,TEMPERATURE,HUMIDITY,ph,RAINFALL,CROP
0,90,42,43,20.879744,82.002744,6.502985,202.935536,Amaranthus
1,85,58,41,21.770462,80.319644,7.038096,226.655537,Green Banana
2,60,55,44,23.004459,82.320763,7.840207,263.964248,Ladies Finger
3,74,35,40,26.491096,80.158363,6.980401,242.864034,Bitter Gourd
4,78,42,42,20.130175,81.604873,7.628473,262.717340,Black pepper
...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,Onion
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,Papaya
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,Potato
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,Pumpkin
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,Tomato

In [15]:
df3["label"].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [14]:
df2["CROP"].unique()

array(['Amaranthus', 'Green Banana', 'Ladies Finger', 'Bitter Gourd',
       'Black pepper', 'Bottle Gourd', 'Brinjal', 'Cabbage', 'Carrot',
       'Cauliflower', 'Cluster beans', 'Coconut', 'Colacasia', 'Onion',
       'Potato', 'Tomato', 'Bengal Gram', 'Jowar', 'Paddy', 'Lentil',
       'Rice', 'Cucumber', 'Field Pea', 'French Beans', 'Green Chilli',
       'Knool Khol', 'Pumpkin', 'Raddish', 'Black Gram', 'Green Gram',
       'Jute', 'Maida Atta', 'Mustard', 'Wheat Atta', 'Garlic',
       'Masur Dal', 'Ridge Gourd', 'Arecanut', 'Red Gram', 'Maize',
       'Dry Chillies', 'Groundnut', 'Capsicum', 'Guar', 'Lemon', 'Bajra',
       'Castor Seed', 'Coriander', 'Cowpea', 'Drumstick', 'Elephat Yam',
       'Ginger', 'Seam', 'Methi Leaves', 'Green Onion', 'Peas cod',
       'Pigeon Pea', 'Sponge Gourd', 'Surat Beans', 'Sweet Potato',
       'Tinda', 'Cluster Beans', 'Cotton', 'Wheat', 'Chholia',
       'Little Gourd', 'Round gourd', 'Leafy Vegetable', 'Mint', 'Papaya',
       'Spinach', 'Parval', 'Banana', 'Zizyphus', 'Grapes', 'Kinnow',
       'Peas', 'Apple', 'Orange', 'Pomegranate', 'Sapota', 'Mushrooms',
       'Sweet Lime', 'Pineapple', 'Guava', 'Turnip', 'Squash', 'Beans',
       'Beetroot', 'Chilly Capsicum', 'Green Avare', 'Seemebadnekai',
       'Snakeguard', 'Suvarna Gadde', 'Water Melon', 'Copra',
       'Amphophalus', 'Ash Gourd', 'Coconut Oil', 'Rubber', 'Cashewnuts',
       'Pepper garbled', 'Coconut Seed', 'Long Melon', 'Tapioca',
       'Turmeric', 'Mango', 'Amla', 'Duster Beans', 'Soyabean', 'Linseed',
       'Niger Seed', 'Moong Dal', 'Lime', 'Musk Melon', 'Pear', 'Rajgir',
       'Sweet Pumpkin', 'Tender Coconut', 'Chana Dal', 'Betal Leaves',
       'Broken Rice', 'Jaggery', 'Sugar', 'Sesamum', 'Moath Dal',
       'Corriander seed', 'Ground Nut Seed', 'Taramira', 'Tobacco',
       'Tamarind Fruit', 'Horse Gram', 'Ragi', 'Cumbu', 'Gingelly Oil',
       'Varagu', 'Hybrid Cumbu', 'Karamani', 'Thinai', 'Wood', 'Barley',
       'Fish', 'Green Peas', 'Tur Dal', 'Urd Dal', 'Mustard Oil', 'Ghee',
       'White Pumpkin', 'Plum'], dtype=object)

In [42]:
# lets go with dataset df2 and df1 and treain both are compared